.massage{"data-message-id": "#{message.id}"}
  .massage__top
    .massage__top__name
      = message.user.name
    .massage__top__day-time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .massage__text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?