.flashbox
.wrapper
  .chat-side
    .side-header
      .side-header__box
        .side-header__box__user-name
          = current_user.name
        .side-header__box__menu
          .side-header__box__menu__new-group
            = link_to new_group_path do
              = fa_icon 'edit', class:'icon'
          .side-header__box__menu__edit-user
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'
           
    .groups
      - current_user.groups.each do |group|
        .group
          -# = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。
  .chat-main
    .main-header
      .main-header__leftbox
        .main-header__leftbox__current-groupname
          グループ名
        %h3.main-header__leftbox__menber
          = current_user.name
      %a{'href': '/groups/[:group_id]/edit'}
        .main-header__edit-btn Edit
    .massages
      .massage
        .massage__top
          .massage__top__name
            田中
          .massage__top__day-time
            2019/10/20 11:11
        .massage__text
          chat-spaceフロントの実装をしています。 
    .form
      %form.new_message
        .input-box
          %input.input-box__text{'placeholder': 'type a message'}
          %label.input-box__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.submit-btn{'type': 'submit', 'value': 'Send' }